<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="p-t-5 font-17 font-b-500">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="roomForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Room Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-icon matSuffix matTooltip="Enter room category name." [matTooltipPosition]="'left'">info</mat-icon>
            @if (roomForm.get('name')?.hasError('required')) {
            <mat-error>
              Room name is required
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Room Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            @if (roomForm.get('description')?.hasError('required')) {
            <mat-error>
              Room description is required
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button color="primary" [disabled]="(!roomForm.valid || isLoading)"
              (click)="confirmAdd()">
              <span *ngIf="!isLoading">Save</span>
              <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
            </button>
            <button mat-flat-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>