<section class="content">
    <div class="content-block">
      @for (breadscrum of breadscrums; track breadscrum) {
        <div class="block-header">
          <!-- breadcrumb -->
          <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
          </app-breadcrumb>
        </div>
      }
      <!-- Basic Table -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="materialTableHeader">
              <div class="left">
                <ul class="header-buttons-left ms-0">
                  <li class="tbl-search-box">
                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                    <input placeholder="Search" type="text" #filter class="browser-default search-field"
                      aria-label="Search box" (input)="onSearch(filter.value)">
                  </li>
                  <li class="destiselect">
                    <select (change)="onDestinationChange($event)">
                      <option value="">Select Destination</option>
                      @for (destination of destinationList; track $index) {
                        <option [value]="destination.name">
                          {{destination.name}}
                        </option>
                      }
                    </select>
                  </li>
                  <li class="serchdate">
                    <input type="date" placeholder="Date From" name="from_date" [(ngModel)]="selectParams.from_date" onfocus="this.showPicker()">
                    <input type="date" placeholder="Date From" name="to_date" [(ngModel)]="selectParams.to_date" onfocus="this.showPicker()">
                  </li>
                  <li class="destiselect">
                    <select 
                        [(ngModel)]="selectParams.period"
                        aria-label="Select time period"                        
                        name="period"
                        id="period">
                        <option value="">Select Period</option>
                        <option value="1">Today</option>
                        <option value="2">Last 7 Days</option>
                        <option value="3">Last Month</option>
                      </select>
                  </li>
                  <li class="tbl-header-btn">
                    <div class="m-l-10" matTooltip="Create Quotation">
                      <button mat-mini-fab color="primary" (click)="searchData()">
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="right">
                <ul class="tbl-export-btn">
                  <li class="tbl-header-btn">
                    <div class="m-l-10" matTooltip="Create Quotation">
                      <button mat-mini-fab color="primary" (click)="createQuotation()">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </li>
                  <li class="tbl-header-btn">
                    <div class="m-l-10" matTooltip="REFRESH">
                      <button mat-mini-fab color="primary" (click)="refresh()">
                        <mat-icon>refresh</mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="body table-responsive">
              @if(isLoading)
              {
                <div class="tbl-spinner">
                  <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                  </mat-progress-spinner>
                </div>
              }
              @else {
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>   
                      <th>Quotation ID</th>                   
                      <th class="sortable" (click)="sort('full_name')">Customer Details
                        <span *ngIf="sortColumn === 'full_name'">
                          {{ sortDirection === 'asc' ? '↑' : '↓' }}
                        </span>
                      </th>
                      <th class="sortable" (click)="sort('destination_routes')">Destination Routes
                        <span *ngIf="sortColumn === 'destination_routes'">
                          {{ sortDirection === 'asc' ? '↑' : '↓' }}
                        </span>
                      </th>
                      <th style="min-width: 140px;" class="sortable" (click)="sort('offer_price')">Package Price
                        <span *ngIf="sortColumn === 'offer_price'">
                          {{ sortDirection === 'asc' ? '↑' : '↓' }}
                        </span>
                      </th>
                      <th class="sortable" (click)="sort('travel_start_date')">Travel Date
                        <span *ngIf="sortColumn === 'travel_start_date'">
                          {{ sortDirection === 'asc' ? '↑' : '↓' }}
                        </span>
                      </th>
                      <th style="min-width: 120px;" class="sortable" (click)="sort('traveler_count')">No. of Travelers
                        <span *ngIf="sortColumn === 'traveler_count'">
                          {{ sortDirection === 'asc' ? '↑' : '↓' }}
                        </span>
                      </th>                  
                      <th class="sortable" (click)="sort('is_active')">Status
                        <span *ngIf="sortColumn === 'is_active'">
                          {{ sortDirection === 'asc' ? '↑' : '↓' }}
                        </span>
                      </th>
                      <th class="sortable" (click)="sort('created_at')">Created At
                        <span *ngIf="sortColumn === 'created_at'">
                          {{ sortDirection === 'asc' ? '↑' : '↓' }}
                        </span>
                      </th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    @if(quotationLists.length>0){
                      @for (quotation of quotationLists; track $index) {
                          <tr>
                              <th scope="row">{{getRowNumber($index)}}</th>  
                              <td>{{quotation?.order_id}}</td>                            
                              <td>
                                {{quotation.full_name}}<br>
                                {{quotation.email}}<br>
                                {{quotation.country_code+quotation.mobile_no}}<br>
                              </td>
                              <td>{{quotation.destination_routes}}</td>
                              <td>{{quotation.offer_price}}</td>
                              <td>{{quotation.travel_start_date}} to {{quotation.travel_end_date}}</td>
                              <td>{{quotation.traveler_count}}</td>
                              <td>                                
                                @if(quotation.quotation_status=='Canceled'){
                                  <div>
                                    <span class="badge badge-solid-red">
                                      Canceled</span>
                                  </div>
                                }
                                @else if (quotation.quotation_status=='Quotation Send') {
                                  <div>
                                    <span class="badge badge-solid-green">
                                      Quotation Send</span>
                                  </div>
                                  }
                                  @else {
                                  <div>
                                    <span class="badge badge-solid-red">
                                      Call Back</span>
                                  </div>
                                  }
                              </td>
                              <td>{{quotation.created_at | date: 'medium'}}</td>
                              <td>
                                <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                                  <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">                                  
                                  <button mat-menu-item (click)="viewDetails(quotation)">
                                    <span>View Details</span>
                                  </button>
                                  <!-- <button mat-menu-item (click)="editQuotation(quotation)">
                                    <span>Modify Quotation</span>
                                  </button> -->
                                  <button mat-menu-item (click)="modifyPackage(quotation)">
                                    <span>Modify Package</span>
                                  </button>
                                  <button mat-menu-item (click)="sendQuotationPayment(quotation)">
                                    <span>Send Payment Link</span>
                                  </button>
                                  <button mat-menu-item (click)="cashPayment(quotation)">
                                    <span>Manual Payment</span>
                                  </button>
                                  <button mat-menu-item (click)="cancelQuotation(quotation)">
                                    <span>Cancel Quotation</span>
                                  </button>
                                  <button mat-menu-item (click)="callBackQuotation(quotation)">
                                    <span>Call Back</span>
                                  </button>
                                  <button mat-menu-item (click)="statusLogReport(quotation)">
                                    <span>Status Logs</span>
                                  </button>
                                </mat-menu> 
                                <!-- <button mat-icon-button (click)="viewDetails(quotation)" (click)="$event.stopPropagation()"
                                  class="tbl-action-btn"  matTooltip="View Details">
                                  <app-feather-icons [icon]="'eye'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                </button>
                                <button mat-icon-button  (click)="editQuotation(quotation)" (click)="$event.stopPropagation()"
                                  class="tbl-action-btn" matTooltip="Edit Data">
                                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                </button>                               -->
                              </td>
                          </tr>
                      }
                    }
                    @else{
                      <tr>
                        <td class="text-center" colspan="10">No data found</td>
                      </tr>
                    }
                  </tbody>
                </table>
                <mat-paginator 
                #paginator
                [length]="totalItems"
                [pageIndex]="currentPage"
                [pageSize]="pageSize"
                [pageSizeOptions]="[10, 25, 50, 100]"
                (page)="onPageChange($event)">
              </mat-paginator>
              }
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Basic Table -->
    </div>
  </section>
  