<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="p-t-5 font-17 font-b-500">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="seoForm">
      <div class="row">
        <div class="col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Page Name</mat-label>
            <input matInput formControlName="page_name" required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Meta Title</mat-label>
            <input matInput formControlName="meta_title" required>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Meta Description</mat-label>
            <textarea matInput formControlName="meta_description" rows="5"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Meta Keywords</mat-label>
            <textarea matInput formControlName="meta_keywords" rows="5"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Meta Tags</mat-label>
            <textarea matInput formControlName="meta_tags" rows="10"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button color="primary" [disabled]="(!seoForm.valid || isLoading)"
              (click)="confirmAdd()">
              <span *ngIf="!isLoading">Save</span>
              <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
            </button>
            <button mat-flat-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>