<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="p-t-5 font-17 font-b-500">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="durationForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Destination</mat-label>
            <mat-select formControlName="destination_id" required>
              <mat-option>
                <ngx-mat-select-search 
                  [formControl]="searchCtrl"
                  placeholderLabel="Search destination..."
                  noEntriesFoundLabel="No matching destinations found">
                </ngx-mat-select-search>
              </mat-option>
              @for (destination of filteredDestinations$ | async; track $index) {
                <mat-option [value]="destination.id">
                  {{destination.name}}
                </mat-option>
              }
            </mat-select>
            @if (durationForm.get('destination_id')?.hasError('required')) {
              <mat-error>
                Destination is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>No of Days</mat-label>
            <input matInput formControlName="no_of_days">
            <mat-icon matSuffix>calendar</mat-icon>
            @if (durationForm.get('no_of_days')?.hasError('required')) {
            <mat-error>
              Search location is required
            </mat-error>
            }
          </mat-form-field>
        </div>    
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="routes-images">
            <div class="routes-gllry">
              @if(imagePreview!=''){
                <div class="uploaded-mage">                
                  <img [src]="imagePreview" />
                </div>
              }
              
              <mat-card class="upload-card" (click)="fileInput.click()">
                <mat-card-content>
                  <mat-icon fontSize="large" class="upload-icon">upload</mat-icon>
                  <p>Upload Image</p>
                  <input #fileInput type="file" (change)="onFileChange($event)" accept="image/*" hidden>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button color="primary" [disabled]="(!durationForm.valid || isLoading)"
              (click)="confirmAdd()">
              <span *ngIf="!isLoading">Save</span>
              <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
            </button>
            <button mat-flat-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>