<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="p-t-5 font-17 font-b-500">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="quotationForm">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Package Price</mat-label>
              <input matInput formControlName="trip_package_price" readonly>            
            </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Booking Price</mat-label>
            <input matInput formControlName="trip_booking_price" readonly>            
          </mat-form-field>
        </div>
        <div class=" col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Traveler Adult</mat-label>
            <input matInput formControlName="trip_traveler_no_of_adult" (keypress)="onlyNumbers($event)" readonly
            maxlength="3">
          </mat-form-field>
        </div>
        <div class=" col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Traveler Child</mat-label>
            <input matInput formControlName="trip_traveler_no_of_child" (keypress)="onlyNumbers($event)" readonly
            maxlength="3">
          </mat-form-field>
        </div>                   
        <div class=" col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>No. Of Rooms</mat-label>
            <input matInput formControlName="trip_no_of_rooms" (keypress)="onlyNumbers($event)" readonly>
          </mat-form-field>
        </div>        
      </div>

      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Package Price</mat-label>
              <input matInput formControlName="package_price">            
            </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Booking Price</mat-label>
            <input matInput formControlName="booking_price" required>            
          </mat-form-field>
        </div>
        <div class=" col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Traveler Adult</mat-label>
            <input matInput formControlName="traveler_no_of_adult" (keypress)="onlyNumbers($event)"
            maxlength="3">
          </mat-form-field>
        </div>
        <div class=" col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Traveler Child</mat-label>
            <input matInput formControlName="traveler_no_of_child" (keypress)="onlyNumbers($event)"
            maxlength="3">
          </mat-form-field>
        </div>                   
        <div class=" col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>No. Of Rooms</mat-label>
            <input matInput formControlName="no_of_rooms" (keypress)="onlyNumbers($event)">
          </mat-form-field>
        </div>        
      </div>
      
      <div class="row mt-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button color="primary" [disabled]="(isLoading)"
              (click)="confirmUpdate()">{{ isLoading?'Saving...':'Update Booking' }}</button>
            <button mat-flat-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>