<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="p-t-5 font-17 font-b-500">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="destinationForm">
      <div class="row">
        <div class=" col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Destination</mat-label>
              <mat-select  multiple formControlName="destination_ids" required>
                <mat-option>
                  <ngx-mat-select-search 
                    [formControl]="searchCtrl"
                    placeholderLabel="Search destination..."
                    noEntriesFoundLabel="No matching destinations found">
                  </ngx-mat-select-search>
                </mat-option>
                
                @for (destination of filteredDestinations$ | async; track $index) {
                  <mat-option [value]="destination.id">
                    {{destination.name}}
                  </mat-option>
                }
              </mat-select>
              <mat-icon matSuffix matTooltip="Select destination from dropdown." [matTooltipPosition]="'left'">info</mat-icon>
              @if (destinationForm.get('destination_ids')?.hasError('required')) {
                <mat-error>
                  Destination is required
                </mat-error>
              }
            </mat-form-field>
          </div>
      </div>
   
      <div class="row mt-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button color="primary" [disabled]="(!destinationForm.valid || isLoading)"
              (click)="confirmAdd()">
              <span *ngIf="!isLoading">Save</span>
              <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
            </button>
            <button mat-flat-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>