<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="p-t-5 font-17 font-b-500">
                        {{dialogTitle}}</div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content class="viewModal">
        <div class="row mt-3">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>                      
                            <th>Menu Name</th>
                            <th class="text-center">Can View</th>                      
                          </tr>
                        </thead>
                        <tbody>
                          @if(menuLists.length>0){
                            @for (menu of menuLists; track $index) {
                              <tr>
                                <td>{{menu?.name}}</td>
                                <td align="center">
                                  <input type="checkbox" 
                                         [value]="menu.id" 
                                         [checked]="hasPermission(menu.id)"
                                         (change)="onCheckboxChange($event, menu.id)">
                                </td>
                              </tr>
                            }
                          }
                          @else{
                            <tr>
                              <td class="text-center" colspan="7">No data found</td>
                            </tr>
                          } 
                        </tbody>
                      </table>
                      <button class="btn btn-success" (click)="saveRolePermission()">Save Permission</button>
                </div>
            </div>
        </div>
    </div>
</div>